<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">

                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-dice"></i> <span>Master Data</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li>@Html.ActionLink("Material", "Index", "Material", null, null)</li>
                            <li>@Html.ActionLink("Bill of Materials (BOM)", "Index", "BOM", null, null)</li>
                        </ul>
                    </div>
                </li>
                

                <li>
                    <a href="#subPages3" data-toggle="collapse" class="collapsed"><i class="lnr lnr-dice"></i> <span>Work Order</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages3" class="collapse ">
                        <ul class="nav">
                            <li>@Html.ActionLink("Create Work Order", "ChooseProduct", "WorkOrder", null, null)</li>
                        </ul>
                    </div>
                </li>

                
            </ul>
        </nav>
    </div>
</div>
