<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">


                <li>
                    <a href="#subPages4" data-toggle="collapse" class="collapsed"><i class="lnr lnr-dice"></i> <span>Sales Order</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages4" class="collapse ">
                        <ul class="nav">
                            <li>@Html.ActionLink("Create Sales Order", "UnderConstruction", "SalesOrder", null, null)</li>
                        </ul>
                    </div>
                </li>


            </ul>
        </nav>
    </div>
</div>
