<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">

                
                <li>
                    <a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="lnr lnr-dice"></i> <span>Purchase Order</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages2" class="collapse ">
                        <ul class="nav">
                            <li>@Html.ActionLink("Create Purchase Order", "UnderConstruction", "PurchaseOrder", null, null)</li>
                        </ul>
                    </div>
                </li>

                
            </ul>
        </nav>
    </div>
</div>
