
@{
    ViewBag.Title = "MaterialForm";
    Layout = "~/Views/Shared/_MyMasterLayout.cshtml";
}

<script>
    var materialCount = 1;
    function AddMaterial(plusElement) {
        $(plusElement).parent().parent().clone().appendTo($(plusElement).parent().parent().parent());
        materialCount++;
    }
    function DeleteMaterial(delElement) {
        if ((materialCount - 1) != 0) {
            $(delElement).parent().parent().remove();
            materialCount--;
        }
    }
</script>

<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">New Material</h2>
        <form id="POCreateForm">

            <!-- PANEL WITH FOOTER -->
            <div class="panel">
                <div class="panel-heading">
                    <div class="left">
                        <H4>Header</H4>
                    </div>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>

                <div class="panel-body">




                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ID">ID:</label>
                                <input type="text" name="ID" class="form-control" placeholder="ID">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Supplier">Supplier:</label>
                                <input type="text" name="Supplier" class="form-control" placeholder="Supplier">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="DeliveryDate">Supplier:</label>
                                <input type="text" name="DeliveryDate" class="form-control" placeholder="Delivery Date">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Amount">Total Amount:</label>
                                <input type="text" name="Amount" class="form-control" placeholder="Total Amount">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="POItems">PO Items:</label>
                                <input type="text" name="POItems" class="form-control" placeholder="PO Items">
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="panel">
                <div class="panel-heading">
                    <div class="left">
                        <H4>Items</H4>
                    </div>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>

                <div class="panel-body">




                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ID">ID:</label>
                                <input type="text" name="ID" class="form-control" placeholder="ID">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Supplier">Supplier:</label>
                                <input type="text" name="Supplier" class="form-control" placeholder="Supplier">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="DeliveryDate">Supplier:</label>
                                <input type="text" name="DeliveryDate" class="form-control" placeholder="Delivery Date">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Amount">Total Amount:</label>
                                <input type="text" name="Amount" class="form-control" placeholder="Total Amount">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="POItems">PO Items:</label>
                                <input type="text" name="POItems" class="form-control" placeholder="PO Items">
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-10">
                    <button type="submit" form="POCreateForm" class="btn btn-primary">Submit</button>
                </div>

            </div>

        </form>

        <!-- END PANEL FOOTER -->
    </div>
</div>